html,body {
    background-color: rgb(110, 57, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 45px;
    color: rgb(107, 29, 29);
    text-shadow: 2px 2px 3px black;
}

a:link {
    color:antiquewhite;
    text-decoration: none;
}

a:visited {
    color: brown;
}

a:hover {
    text-shadow: 2px 2px 3px black;
}
